.container__banner {
    background: linear-gradient(
      166deg,
      rgba(41, 186, 236, 1) 0%,
      rgba(35, 139, 203, 1) 49%,
      rgba(35, 93, 171, 1) 100%
    );
    padding: 30px 0px;
    color: white;
    height: auto;
  }
  
  .text__hastag {
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .text__tagline {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: -20px;
  }
  
  .text__description {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
  }
  
  .text__CTA {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
  }
  
  .center__image {
    margin: auto;
  }
  
  .image__banner {
    width: 100%;
    margin: auto;
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .text__hastag {
      font-size: 1rem;
      font-weight: 400;
    }
  
    .text__tagline {
      font-size: 2.25rem;
      font-weight: bold;
      margin-top: -20px;
    }
  
    .text__description {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: justify;
    }
  
    .text__CTA {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: justify;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .text__hastag {
      font-size: 1.5rem;
      font-weight: 400;
    }
  
    .text__tagline {
      font-size: 3.25rem;
      font-weight: bold;
      margin-top: -20px;
    }
  
    .text__description {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: justify;
    }
  
    .text__CTA {
      font-size: 1.6rem;
      font-weight: 500;
      text-align: justify;
    }

    .image__banner {
      width: 100%;
      margin: auto;
    }
  }
  